*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
#about{
    width: 100%;
    height: 59.6rem;
    padding: 3rem 5rem 3rem;
    display: flex;
    flex-direction: column;
    background-color: #CAC0E7;
}
#about h6 {
    font-size: 2rem;
}
#about p {
    color: #574C77;
    margin: 2rem 0;
    word-spacing: 0.5rem;
    font-size: 1.5rem;
}