*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* overflow: hidden; */
    position: relative;
}
html{
    font-size: 10px;
}

#login-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: white;
    flex: 1;
    top: 0;
    z-index: 33;
    position: absolute
}

#login-container #first-part #tailor-logo {
    width: 50vw;
    height: 66rem;
    /* background: url(/static/yo.png); */
    background-position: center;
    /* background-size: cover; */
    object-fit: cover;
}
#login-container #first-part #tailor-headline {
    width: 41rem;
    height: 23rem;
    position: absolute;
    top: 26rem;
    left: 20rem;
    z-index: 77;
}
#login-container #second-part{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#login-container #second-part #login-form{
    width: 80%;
    height: 75vh;
}
#login-container #second-part #login-form h6{
    font-size: 3.5rem;
    /* font-family: intel; */
    color: #242424;
}
#login-container #second-part #login-form #category{
    font-size: 1.2rem;
    color: gray;
    margin: 3rem 0 0.5rem;
}
#second-part form{
    color: #6f6f6f;
}
#second-part form #radio{
    display: flex;
    font-size: 1.4rem;
}

#second-part form #radio .choice{
    padding: 0.6rem;
    
    /* background-color: #6F6F6F; */
    /* color: white; */
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#second-part form #radio #customer{
    border-radius: 6px 0 0 6px;
    background-color: #6F6F6F; 
    cursor: pointer;
    color: white; 
}
#second-part form #radio #tailor{
    cursor: pointer;
    /* background-color: #6F6F6F;  */
    color: #6f6f6f;
    border-radius: 0 6px 6px 0px;
    /* width: 10rem; */
    border: 1px solid #6f6f6f;
}
#second-part form .row-container{
    display: flex;
}
#second-part form input{
    border-top-style: hidden;
    border-right-style: hidden;
    margin: 0.5rem 4rem 2rem 0;

    border-left-style: hidden;
    border-bottom-style: 1px solid #6f6f6f;
    /* background-color: #3c3c3c; */
    width:24.5rem;
}
#second-part form label{
    font-size: 1.3rem;
}
#second-part form #first-row{
    margin: 2rem 0 0 0;
}
#second-part form .pass, #Address{
    width: 53rem;
}
#second-part form #send-btn{
    width: 53rem;
    cursor: pointer;
    /* font-size: 3rem; */
    border-radius: 5px;
    margin: 2rem 0 0;
    border: none;
    height: 4rem;
    background-color: #242426;
}
#second-part form #send-btn p{
    font-size: 1.5rem;
    /* font-family: intel; */
    color: white;
}
#second-part #sign-in{
    margin: 1.5rem 18rem;
    font-size: 1.2rem;
}
#second-part #sign-in b,u{
    color: #242426;
    cursor: pointer;
}
#second-part #sign-in span{
    color:#6f6f6f;

}
#changing-part{
    /* display: flex; */
    visibility: hidden;
}