{% extends 'base.html' %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'bars-solid.svg' %}?ver=2"/>
<script src="{% static 'script.js' %}" defer></script>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'about-style.css' %}">
{% block title %}siwian{% endblock title %}
{% block body %}
<!-- <p>yhjbh</p> -->
<div id="about">
    <h6>Know more about us</h6>
    <p>We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.

        We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.
        <br> <br>
        We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.
        <br> <br>
        We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.
        <br> <br>     
        We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.
       <br> <br>
       We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.

        We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.
       <br> <br> 
    
       We come here with our best tailoring service at your doorstep that means you need to step out from your home . our tailors will contact you or you can catch them by theim email id and phont number .in this way siwian make your work super duper easy. It saves your lots of time as well as travelling cost.you can give your precious toime to your other work. we assure you will not be in worry till we are here.
          
    </p>
</div>
{% endblock body %}