{% extends 'base.html' %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'bars-solid.svg' %}?ver=2"/>
<script src="{% static 'script.js' %}" defer></script>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% block title %}siwian{% endblock title %}
{% block body %}
<!-- <p>yhjbh</p> -->
<div id="login-container">
    <div id="first-part">
        <img id="tailor-logo" src="/static/tailoringmachine.png" alt=""> 
        <img id="tailor-headline"src="/static/Best Tailoring Service.png" alt="">
    </div>
    <div id="second-part">
        <div id="login-form">
        <h6>Create an account</h6>
        <p id="category" >Please select the category</p>
        <form method="POST" action="/tailor">
            {% csrf_token %}
            <div id="radio">
                <div id="customer" class="choice"onclick="customerSection()" > <a href="/templates/login.html">Customer</a> </div>
                <div id="tailor" class="choice" onclick="TailorSection()" > <a href="/templates/tailor.html">Tailor</a> </div>
            </div> 
            <!-- {% csrf_token %} -->
            <div id="first-row"  class="row-container">
                <div id="firstname">
                <label for="firstname">First Name</label> <br>
                <input type="text" name="firstname" id="firstname">
                </div>
                <div class="block-box">
                <label for="lastname">Last Name</label>
                <br>
                <input type="text" name="lastname" id="lastname">
                </div>
            </div>
            <div id="sec-row" class="row-container">
            <div class="block-box">
            <label for="mail">Mail</label> <br>
            <input type="text" name="mail" id="mail">
            </div>   
            <div class="block-box">
            <label for="phone">Phone</label> <br>
            <input type="text" name="phone" id="phone">    
            </div> 
            </div>  
            <div id="sec-row" class="row-container">
                
            <div class="block-box">
            <label for="password">Password</label> <br>
            <input type="password" name="password" id="password" class="pass" style="width: 24.5rem;">    
            </div> 
            <div class="block-box" id="changing-part" style=" visibility: visible;">
                <label for="shopname">Shop name</label> <br>
                <input type="text" name="shopname" id="shopname">
                </div>  
            </div>          
            <label for="address">Address</label>
            <br>
            <textarea name="address"  id="address" cols="140" rows="1"style="width: 53rem;"></textarea>
            <div id="btn-container">
            <button id="send-btn"> <p>Create account</p> </button>
            </div>
        <!-- <input type="text" id="mesaage">  -->
    </form>
    <p id="sign-in" > <span>Already have an account ?</span>  <u> <b>Sign in</b> </u> </p>
    <!-- </div> -->
        </div>
    </div>
</div>
{% endblock body %}